<h1>Graficos Demonstrativos</h1>
<p>Exemplos de gráficos que podem ser apresentados na plataforma:</p>

<br />

<div id="chart"></div>
<br />
<div id="chart2"></div>

<br />
<div id="chart3"></div>

<%= render 'graph_01' %>
<%= render 'graph_02' %>
